@using ChatBoard.Models
@model LoginViewModel
@{
    ViewBag.Title = "Log in";
}
<div class="container">

    <div class="row" style="margin-top:20px">
        <div class="col-xs-12 col-sm-8 col-md-6 col-sm-offset-2 col-md-offset-3">

            <fieldset>
                @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post))
                {
                    <h2>Please Sign In</h2>
                    <hr class="colorgraph">

                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                    <div class="form-group">
                        @Html.TextBoxFor(m => m.Email, new { @type = "email", @name = "email", @id = "email", @class = "form-control", @placeholder = "Email Address" })
                    </div>
                    @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                    <div class="form-group">
                        @Html.PasswordFor(m => m.Password, new { @type = "password", @name = "password", @id = "password", @class = "form-control", @placeholder = "Password" })
                    </div>
                    <span class="button-checkbox">
                        <button type="button" class="btn-sm" data-color="info">Remember Me</button>
                        @Html.CheckBoxFor(m => m.RememberMe, new { @type = "checkbox", @name = "remember_me", @id = "remember_me", @checked = "checked", @class = "hidden" })
                        <a href="" class="btn btn-link pull-right">Forgot Password?</a>
                    </span>
                    <hr class="colorgraph">
                    <div class="row">
                        <div class="col-xs-6 col-sm-6 col-md-6">
                            <input type="submit" class="btn btn-success btn-block" value="Sign In">
                        </div>
                        <div class="col-xs-6 col-sm-6 col-md-6">
                            <a href="@(Url.Action("Register","Account"))" class="btn btn-info btn-block">Register</a>
                        </div>
                    </div>
                }
            </fieldset>
        </div>
    </div>

    <!-- External logins-->
    <div class="center-this-line">
        <section id="socialLoginForm">
            @Html.Partial("_ExternalLoginsListPartial", new ExternalLoginListViewModel { ReturnUrl = ViewBag.ReturnUrl })
        </section>
    </div>

</div>

@section Scripts {
    @Scripts.Render("~/bundles/login")
}
