@using Microsoft.AspNet.Identity;
@using Microsoft.AspNet.Identity.EntityFramework;
@using ChatBoard.Models;
@{
    ViewBag.Title = "TestView";
}


@{
    if (Request.IsAuthenticated)
    {
        var manager = new UserManager<ApplicationUser>(new UserStore<ApplicationUser>(new ApplicationDbContext()));
        var currentUser = manager.FindById(User.Identity.GetUserId());
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xs-offset-0 col-sm-offset-0 col-md-offset-3 col-lg-offset-3 toppad">
                    <div class="panel panel-info">
                        <div class="panel-heading">
                            <h3 class="panel-title">User profile</h3>
                        </div>
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-md-3 col-lg-3 " align="center"> <img alt="User Pic" src="https://lh5.googleusercontent.com/-b0-k99FZlyE/AAAAAAAAAAI/AAAAAAAAAAA/eu7opA4byxI/photo.jpg?sz=100" class="img-circle"> </div>
                                <div class=" col-md-9 col-lg-9 ">
                                    <table class="table table-user-information">
                                        <tbody>
                                            <tr>
                                                <td>Username:</td>
                                                <td><div contenteditable="true">@currentUser.UserName</div></td>
                                            </tr>
                                            <tr>
                                                <td>Password:</td>
                                                <td><a href="#" class="btn btn-sm btn-primary">Change</a></td>
                                            </tr>
                                            <tr>
                                                <td>First Name</td>
                                                <td><div contenteditable="true">@currentUser.FirstName</div></td>
                                            </tr>

                                            <tr>
                                            <tr>
                                                <td>Last Name</td>
                                                <td><div contenteditable="true">@currentUser.LastName</div></td>
                                            </tr>
                                            <tr>
                                                <td>Email</td>
                                                <td><a href="@currentUser.Email">@currentUser.Email</a></td>
                                            </tr>
                                            <tr>
                                                <td>Phone Number</td>
                                                <td><div contenteditable="true">@currentUser.PhoneNumber</div></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <div class="panel-footer">
                            <span class="pull-right">
                                <a href="#" data-original-title="Edit this user" data-toggle="tooltip" type="button" class="btn btn-sm btn-success"><i class="glyphicon glyphicon-ok"></i></a>
                                <a href="#" data-original-title="Remove this user" data-toggle="tooltip" class="btn btn-sm btn-danger"><i class="glyphicon glyphicon-remove"></i></a>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
    //else - redirect to login view
}


