@model ChatBoard.Models.IndexViewModel
@{
    ViewBag.Title = "Manage";
}
<p class="text-success">@ViewBag.StatusMessage</p>
<div>



    <div class="container">
        <h4>Change your account settings</h4>
        <div class="col-md-4">
            <div class="btn btn-default margin-top-a-bit">
                @if (Model.HasPassword)
                {
                    @Html.ActionLink("Change your password", "ChangePassword")
                }
                else
                {
                    @Html.ActionLink("Create", "SetPassword")
                }
            </div>
            <div class="btn btn-default margin-top-a-bit">
                You have
                @Model.Logins.Count
                @Html.ActionLink("External Logins", "ManageLogins")
            </div>
        </div>

        <div class="col-md-8  margin-top-a-bit">
            <div class="col-md-4">
                <img src="~/Content/default_avatar.png" alt="Default Avatar" />
            </div>
            <div class="col-md-8 container">
                <label>First Name: </label>
                <input type="text" value="Thanh" />
                <label>Last Name: </label>
                <input type="text" value="Lai" />
                <label>Email: </label>
                <input type="text" value="hello@thanh.com" />
                <label>Phone: </label>
                <input type="text" value="604-387-4055" />
            </div>

        </div>
    </div>

</div>

