@model ChatBoard.Models.IndexViewModel
@using Microsoft.AspNet.Identity;
@using Microsoft.AspNet.Identity.EntityFramework;
@using ChatBoard.Models;

@{
    ViewBag.Title = "Manage";
}
@{
    if (Request.IsAuthenticated)
    {
        var manager = new UserManager<ApplicationUser>(new UserStore<ApplicationUser>(new ApplicationDbContext()));
        var currentUser = manager.FindById(User.Identity.GetUserId());
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xs-offset-0 col-sm-offset-0 col-md-offset-3 col-lg-offset-3 toppad">
                    @using (Html.BeginForm("ChangeUserProfile", "Manage", FormMethod.Post, new { @class = "form-horizontal", role = "form", enctype = "multipart/form-data" }))
                    {
                        @Html.AntiForgeryToken()
                        <div class="panel panel-info">
                            <div class="panel-heading">
                                <h3 class="panel-title">User profile</h3>
                            </div>
                            <div class="panel-body">
                                <div class="row">
                                    <div class="col-md-3 col-lg-3 " align="center">

                                        @if (currentUser.Avatar == null)
                                        {
                                            <img alt="User Pic" src="~/Content/Images/default_avatar0.png" class="img-circle">
                                        }
                                        else
                                        {
                                            <img alt="User Pic" src='@Url.Action("ShowCurrentUserAvatar", "Manage")' class="img-circle" width="100" height="100" />
                                        }
                                        <span class="btn btn-xs btn-default btn-file" style="margin-top:5px;">
                                            <small>Browse</small> <input type="file" name="uploadFile" accept="image/x-png">
                                        </span>
                                    </div>

                                    <div class=" col-md-9 col-lg-9 ">
                                        <table class="table table-user-information">
                                            <tbody>
                                                <tr>
                                                    <td style="padding-top: 15px;">Username:</td>
                                                    <td>
                                                        @Html.TextBoxFor(m => m.UserName, new { @class = "form-control", @Value = @currentUser.UserName, @placeholder = @currentUser.UserName })
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td style="padding-top: 10px;">Password:</td>
                                                    <td>
                                                        @Html.ActionLink("Change", "ChangePassword", null, new { @class = "btn btn-xs btn-warning" })
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td style="padding-top: 15px;">First Name:</td>
                                                    <td>
                                                        @Html.TextBoxFor(m => m.FirstName, new { @class = "form-control", @Value = @currentUser.FirstName, @placeholder = @currentUser.FirstName })
                                                    </td>
                                                </tr>

                                                <tr>
                                                <tr>
                                                    <td style="padding-top: 15px;">Last Name:</td>
                                                    <td>
                                                        @Html.TextBoxFor(m => m.LastName, new { @class = "form-control", @Value = @currentUser.LastName, @placeholder = @currentUser.LastName })
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td style="padding-top: 15px;">Email:</td>
                                                    <td>
                                                        @*<a href="mailto:@currentUser.Email">*@
                                                        @Html.TextBoxFor(m => m.Email, new { @class = "form-control", @Value = @currentUser.Email, @placeholder = @currentUser.Email })
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td style="padding-top: 15px;">Phone Number:</td>
                                                    <td>
                                                        @Html.TextBoxFor(m => m.PhoneNumber, new { @class = "form-control", @placeholder = @currentUser.PhoneNumber })
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td style="padding-top: 13px;">Social Media:</td>
                                                    <td>
                                                        <a href="@(Url.Action("ManageLogins", "Manage"))" class="btn btn-sm btn-social-icon btn-twitter">
                                                            <i class="fa fa-twitter"></i>
                                                        </a>
                                                        <a href="@(Url.Action("ManageLogins", "Manage"))" class="btn btn-sm btn-social-icon btn-facebook">
                                                            <i class="fa fa-facebook"></i>
                                                        </a>
                                                        <a href="@(Url.Action("ManageLogins", "Manage"))" class="btn btn-sm btn-social-icon btn-linkedin">
                                                            <i class="fa fa-linkedin"></i>
                                                        </a>
                                                        <a href="@(Url.Action("ManageLogins", "Manage"))" class="btn btn-sm btn-social-icon btn-google-plus">
                                                            <i class="fa fa-google"></i>
                                                        </a>
                                                        <a href="@(Url.Action("ManageLogins", "Manage"))" class="btn btn-sm btn-social-icon btn-microsoft">
                                                            <i class="fa fa-windows"></i>
                                                        </a>                             
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                            <div class="panel-footer">
                                <span class="pull-right">
                                    <input type="submit" data-original-title="Edit this user" data-toggle="tooltip" class="btn btn-sm btn-success" value="Save Changes" />
                                    <input type="button" data-original-title="Remove changes" data-toggle="tooltip" class="btn btn-sm btn-danger" value="Discard Changes" onclick="location.href='@Url.Action("Index", "Manage")'" />
                                </span>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    }
    //else - redirect to login view
}