@model ChatBoard.Models.Post
@using Microsoft.AspNet.Identity
@{
    ViewBag.Title = @Html.DisplayFor(model => model.Title);
}
<div class="container margin-top-a-bit">
    <div class="row">
        <div class="[ col-xs-12 ]">
            <div class="[ panel panel-default ] panel-google-plus">
                <div class="dropdown">
                    <span class="dropdown-toggle" data-toggle="dropdown">
                        <span class="[ glyphicon glyphicon-chevron-down ]"></span>
                    </span>
                    <ul class="dropdown-menu" role="menu">
                        <li role="presentation"><a role="menuitem" tabindex="-1" href="@(Url.Action("Edit", "Post", new { id = Model.Id }))">Edit</a></li>
                        <li role="presentation"><a role="menuitem" tabindex="-1" href="@(Url.Action("Delete", "Post", new { id = Model.Id }))">Delete</a></li>

                        <li role="presentation"><a role="menuitem" tabindex="-1" data-toggle="collapse" data-parent="#accordion" href="#collapseOne">Chat</a></li>

                        <li role="presentation" class="divider"></li>
                        <li role="presentation"><a role="menuitem" tabindex="-1" href="@(Url.Action("Index", "Home"))">Close</a></li>
                    </ul>
                </div>
                <div class="panel-google-plus-tags">
                    <ul>
                        <li>
                            @*@Html.DisplayFor(modelItem => item.Tags)*@
                            Random
                        </li>
                    </ul>
                </div>
                <div class="panel-heading">
                    <img class="[ img-thumbnail pull-left ]" src="~/Content/Images/default_avatar1.png" alt="OwnerAvatar" />
                    <h3>Thanh Lai</h3>
                    <h5><span>Shared publicly</span> - <span>@Html.DisplayFor(model => model.DateCreated)</span> </h5>
                </div>
                <div class="panel-body">
                    @Html.DisplayFor(model => model.Content)
                </div>
                <!-- Hide this in chat mode-->
                <div class="panel-footer">
                    <button type="button" class="[ btn btn-default ]"><i class="glyphicon glyphicon-heart"></i></button>
                    <button type="button" class="[ btn btn-default ]">
                        <span class="[ glyphicon glyphicon-share-alt ]"></span>
                    </button>
                    <div class="input-placeholder">Add a comment...</div>
                </div>
                <!-- Hide this in chat mode-->
                <div class="panel-google-plus-comment">
                    <img class="img-circle" src="https://lh3.googleusercontent.com/uFp_tsTJboUY7kue5XAsGA=s46" alt="User Image" />
                    <div class="panel-google-plus-textarea">
                        <textarea rows="4"></textarea>
                        <button type="submit" class="[ btn btn-xs btn-success disabled ]">Post comment</button>
                        <button type="reset" class="[ btn btn-xs btn-default ]">Cancel</button>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <!-- Chat Snippet -->
                <div class="panel-collapse collapse" id="collapseOne">
                    <div class="panel-body" id="chat-panel-body">
                        <ul class="chat">
                            <li class="left clearfix">
                                <span class="chat-img pull-left">
                                    <img src="~/Content/Images/default_avatar2.png" width="50" height="50" alt="User Avatar" class="img-thumbnail" />
                                </span>
                                <div class="chat-body clearfix">
                                    <div class="header">
                                        <strong class="primary-font">Anonymous</strong>
                                    </div>
                                    <p>
                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur bibendum ornare
                                        dolor, quis ullamcorper ligula sodales.
                                    </p>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <div class="panel-footer">
                        <div class="input-group">
                            <input id="message" type="text" class="form-control input-sm" placeholder="Type your message here..." />
                            <span class="input-group-btn">
                                <input class="btn btn-primary btn-sm" type="button" id="sendmessage" value="Send" />
                            </span>
                        </div>
                    </div>
                </div>
                <!-- END Chat Snippet-->
            </div>
        </div>
    </div>
</div>
<div class="chat">
    <div class="chat-content">
        <ul id="discussion"></ul>
    </div>
</div>
@if ((System.Web.HttpContext.Current.User.Identity.IsAuthenticated) && (System.Web.HttpContext.Current.User != null))
{
    @section scripts {
        @Scripts.Render("~/bundles/chat")
        <!--Script references. -->
        <!--The jQuery library is required and is referenced by default in _Layout.cshtml. -->
        <!--Reference the SignalR library. -->
        <script src="~/Scripts/jquery.signalR-2.1.2.min.js"></script>
        <!--Reference the autogenerated SignalR hub script. -->
        <script src="~/signalr/hubs"></script>
        <!--SignalR script to update the chat page and send messages.-->
        <script>
            $(function () {
                // Reference the auto-generated proxy for the hub.
                var chat = $.connection.chatHub;

                var username = '<span class="btn btn-sm btn-info">' + "@(User.Identity.GetUserName())" + '</span>';
                // Create a function that the hub can call back to display messages.
                chat.client.addNewMessageToPage = function (name, message) {
                    // Add the message to the page.
                    $('#discussion').append('<li>' + name + ' : ' + message + '</li>');
                };
                // Set initial focus to message input box.
                $('‪#‎message‬').focus();
                // Start the connection.
                $.connection.hub.start().done(function () {
                    $('#sendmessage').click(function () {
                        // Call the Send method on the hub.
                        if ($('#message').val().trim() != '') {
                            chat.server.send(username, $('#message').val());
                            // Clear text box and reset focus for next comment.
                            $('#message').val('').focus();
                        }
                    });
                    document.onkeypress = function (e) {
                        if (e.keyCode == 13) {
                            if ($('#message').val().trim() != '') {
                                chat.server.send(username, $('#message').val());
                                $('#message').val('').focus();
                            }
                        }
                    }
                });
            });
        </script>
    }
}
else
{
    @section scripts {
        @Scripts.Render("~/bundles/chat")
        <!--Script references. -->
        <!--The jQuery library is required and is referenced by default in _Layout.cshtml. -->
        <!--Reference the SignalR library. -->
        <script src="~/Scripts/jquery.signalR-2.1.2.min.js"></script>
        <!--Reference the autogenerated SignalR hub script. -->
        <script src="~/signalr/hubs"></script>
        <!--SignalR script to update the chat page and send messages.-->
        <script>
            $(function () {
                // Reference the auto-generated proxy for the hub.
                var chat = $.connection.chatHub;
                // Create a function that the hub can call back to display messages.
                chat.client.addNewMessageToPage = function (name, message) {
                    // Add the message to the page.
                    $('#discussion').append('<li>' + name + ' : ' + message + '</li>');             //Edit here
                };
                // Set initial focus to message input box.
                $('‪#‎message‬').focus();
                // Start the connection.
                $.connection.hub.start().done(function () {
                    $('#sendmessage').click(function () {
                        // Call the Send method on the hub.
                        if ($('#message').val().trim() != '') {
                            chat.server.send('Anonymous', $('#message').val());
                            // Clear text box and reset focus for next comment.
                            $('#message').val('').focus();
                        }
                    });
                    document.onkeypress = function (e) {
                        if (e.keyCode == 13) {
                            if ($('#message').val().trim() != '') {
                                chat.server.send('Guest', $('#message').val());
                                $('#message').val('').focus();
                            }
                        }
                    }
                });
            });
        </script>
    }
}