@model IEnumerable<ChatBoard.Models.Board>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Topic)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Tags)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.OwnerId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CreatedDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UpdatedDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DeletedDate)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Topic)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Tags)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.OwnerId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CreatedDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UpdatedDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DeletedDate)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.BoardId }) |
            @Html.ActionLink("Details", "Details", new { id=item.BoardId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.BoardId })
        </td>
    </tr>
}

</table>
